<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sgscEntities" connectionString="metadata=res://*/Modelsgsc.csdl|res://*/Modelsgsc.ssdl|res://*/Modelsgsc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Danims\SQLEXPRESS01;initial catalog=sgsc;persist security info=True;user id=admin;password=123;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>