<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SGSCEntities" connectionString="metadata=res://*/Modelsgsc.csdl|res://*/Modelsgsc.ssdl|res://*/Modelsgsc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Danims\SQLEXPRESS01;initial catalog=SGSC;persist security info=True;user id=dani;password=123;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>